*.pyc
.*.swp
.*.swo
*~
etb_git
.etb_history
TAGS
ext-4.0.7-gpl
.DS_Store
_build
**/logic.json.bz2
**/*gz
**/*.log
**/*.bbl
**/#*#
EvidentialToolBus.egg-info
demos/**/etb_claims
demos/old-demos
doc/**/*.aux
doc/**/*.pdf
doc/**/*.nav
doc/**/*.out
doc/**/*.snm
doc/**/*.toc
doc/**/*.vrb
doc/**/*.blg
src/claims_table.p
src/wrappers_enabled
.etb-shell-history
.ropeproject
